<div class="post_share_container">
    <a href="#">
        <img src="{{base}}/assets/atomo_ins.png" class="comic_share_social" />
    </a>
    <a href="#">
        <img src="{{base}}/assets/atomo_fb.png" class="comic_share_social" />
    </a>
    <a href="#">
        <img src="{{base}}/assets/atomo_twitter.png" class="comic_share_social" />
    </a>
    <a href="#">
        <img src="{{base}}/assets/atomo_snap.png" class="comic_share_social" />
    </a>
    <a href="#">
        <img src="{{base}}/assets/atomo_reddit.png" class="comic_share_social" />
    </a>
    <a href="https://atomocomics.slack.com">
        <img src="{{base}}/assets/atomo_slack.png" class="comic_share_social" />
    </a>
</div>