{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
  {% include head.html %}
</head>

<body>

  <div class="atomo_header">

    <img src="{{base}}/assets/big_neuron.png" class="big_neuron_1" />
    <img src="{{base}}/assets/big_neuron.png" class="big_neuron_2" />
    <img src="{{base}}/assets/small_neuron.png" class="small_neuron_1" />
    <img src="{{base}}/assets/small_neuron.png" class="small_neuron_2" />
    <img src="{{base}}/assets/small_neuron.png" class="small_neuron_3" />

    <img src="{{base}}/assets/logo_all_atomo.png" class="logo_all_atomo" />

    <div class="menu_container_wrapper">
      <div class="menu_container">
          <a href='{{base}}' class="comic_nav_link">
        <img src="{{base}}/assets/atomo_logo.png" class="atomo_small_logo" />
        </a>
        <div class="menu_item_container">
            <a href='{{base}}' class="comic_nav_link">
          <div class="menu_item">
            Comic
          </div>
          </a>
          <a href='{{base}}/blog.html' class="comic_nav_link">
          <div class="menu_item">
            Blog
          </div></a>
          <a href='{{base}}/playground.html' class="comic_nav_link">
          <div class="menu_item">
            AI Playground
          </div>
          </a>
          <a href='{{base}}/about.html' class="comic_nav_link">
          <div class="menu_item">
            About
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </body>