{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
  {% include head.html %}
</head>

<body>

  <div class="atomo_header">

    <img src="{{base}}/assets/big_neuron.png" class="big_neuron_1" />
    <img src="{{base}}/assets/big_neuron.png" class="big_neuron_2" />
    <img src="{{base}}/assets/small_neuron.png" class="small_neuron_1" />
    <img src="{{base}}/assets/small_neuron.png" class="small_neuron_2" />
    <img src="{{base}}/assets/small_neuron.png" class="small_neuron_3" />

    <img src="{{base}}/assets/logo_all_atomo.png" class="logo_all_atomo" />

    <div class="menu_container_wrapper">
      <div class="menu_container">
        <div class="menu_small_logo_share">
          <a href='{{base}}' class="comic_nav_link">
            <img src="{{base}}/assets/atomo_logo.png" class="atomo_small_logo" />
          </a>
          <a href="https://www.instagram.com/atomocomics/" target="_blank">
            <img src="{{base}}/assets/atomo_white_ins.png" class="comic_share_social" style="margin-left:20px;" />
          </a>
          <a href="https://www.facebook.com/atomocomics/" target="_blank">
            <img src="{{base}}/assets/atomo_white_fb.png" class="comic_share_social" />
          </a>
          <a href="https://twitter.com/atomocomics" target="_blank">
            <img src="{{base}}/assets/atomo_white_twitter.png" class="comic_share_social" />
          </a>
          <a href="#" target="_blank">
            <img src="{{base}}/assets/atomo_white_snap.png" class="comic_share_social" />
          </a>
          <a href="https://www.reddit.com/r/atomocomics/" target="_blank">
            <img src="{{base}}/assets/atomo_white_reddit.png" class="comic_share_social" />
          </a>
        </div>
        <div class="menu_item_container">
          <a href='{{base}}' class="comic_nav_link">
            {% if page.url contains 'blog.html' or page.url contains 'playground.html' or page.url contains 'about.html' %}
            <div class="menu_item">
              Comic
            </div>
            {% else %}
            <div class="menu_item_current">
              Comic
            </div>
            {% endif %}
          </a>
          <a href='{{base}}/blog.html' class="comic_nav_link">
            {% if page.url contains 'blog.html' or page.url contains '/blog/' %}
            <div class="menu_item_current">
              Blog
            </div>
            {% else %}
            <div class="menu_item">
              Blog
            </div>
            {% endif %}
          </a>
          <a href='{{base}}/playground.html' class="comic_nav_link">
            {% if page.url contains 'playground.html' %}
            <div class="menu_item_current">
              AI Playground
            </div>
            {% else %}
            <div class="menu_item">
              AI Playground
            </div>
            {% endif %}
          </a>
          <a href='{{base}}/about.html' class="comic_nav_link">
            {% if page.url contains 'about.html' %}
            <div class="menu_item_current">
              About
            </div>
            {% else %}
            <div class="menu_item">
              About
            </div>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</body>