{% include base.html %}

    <div class="ie-fix">
        <div class="wrapper">

            <input id="hamburger" type="checkbox" class="hamburger-checkbox">
            <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">&#xf0c9;</label>

            <nav role="navigation" class="sidebar">
                <ul class="menu">
                    <li>Home</li>
                    <li>Publications</li>
                    <li>Shop</li>
                    <li>Your Account</li>
                    <li>Contact Us</li>
                </ul>
            </nav>

            <main role="main" class="content">
                <h1>Pure CSS off-canvas menu with flexbox, fixed for IE</h1>
                <p>This page uses <a href="http://caniuse.com/#feat=flexbox">flexbox</a> to control the layout so that when the menu becomes visible, the content area can resize to fit the remaining width in the viewport, instead of overflowing the viewport
                    and getting cut off on the right side, as happens with most off-canvas menus.</p>
                <p>The menu's visibility is toggled without JavaScript using the <a href="http://css-tricks.com/the-checkbox-hack/">checkbox hack</a>.</p>
            </main>

        </div>
    </div>
