{% include base.html %}




    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" onclick="closeNav()">

            <div class="nav_item">
          &times;
        </div>
        </a>
        <a href="{{base}}">
          <div class="nav_item">
            <img src="{{base}}/assets/home.png" />
            <div class="nav_label">
          Comic
        </div>
        </div>
    </a>
        <a href="{{base}}/blog.html">
          <div class="nav_item">
            <img src="{{base}}/assets/blog.png" />
            <div class="nav_label">
          Blog
        </div>
        </div
       </a>
        <a href="{{base}}/characters.html">
          <div class="nav_item">
            <img src="{{base}}/assets/chars.png" />

            <div class="nav_label">
          Characters
        </div>
        </div
       </a>
        <a href="{{base}}/about.html">
          <div class="nav_item">
            <img src="{{base}}/assets/about.png" />
            <div class="nav_label">
          About
        </div>
        </div
       </a>
    </div>

    {% if page.url contains 'blog.html' or page.url contains 'characters.html' or page.url contains 'about.html' or page.url contains '/comic/' or page.url contains '/blog/' %}


    <div class="header_box_small" id="other_page_header_box_small">
        {% include header_bar.html %}
    </div>

    <div class="header_box_small" id="header_box_small_home">
        <div class="mobile_header_bar">
          <a href="{{base}}">
            <div class="itemcenter">
                <img class="logologo" src="{{base}}/assets/logo.png" />
            </div>
          </a>
            <div class="itemright" onclick="openNav()">
                <img class="burger" src="{{base}}/assets/burger.png" />
            </div>
        </div>
    </div>

    {% else %}
    <div class="header_box">
        {% include header_bar.html %}
        <a href="{{base}}">
            <div class="logo">
            </div>
        </a>
        <div id="social_container">
            <a href="https://www.instagram.com/sealiconvalley/" target="_blank">
                <div class="social_img social_ig">
                </div>
            </a>
            <a href="https://www.facebook.com/sealiconvalley/" target="_blank">
                <div class="social_img social_fb">
                </div>
            </a>
            <a href="https://twitter.com/sealiconvalley" target="_blank">
                <div class="social_img social_twitter">
                </div>
            </a>
            <a href="https://www.snapchat.com/add/sealiconvalley" target="_blank">
                <div class="social_img social_snap">
                </div>
            </a>
            <a href="http://sealiconvalley.tumblr.com/" target="_blank">
                <div class="social_img social_tumblr">
                </div>
            </a>
        </div>

    </div>
    <div class="header_box_small" id="header_box_small_home">
        <div class="mobile_header_bar">
          <a href="{{base}}">
            <div class="itemcenter">
                <img class="logologo" src="{{base}}/assets/logo.png" />
            </div>
          </a>
            <div class="itemright" onclick="openNav()">
                <img class="burger" src="{{base}}/assets/burger.png" />
            </div>
        </div>
    </div>
    {% endif %}
