{% include base.html %}


  <div class="nav_bar_container">
    <div>logo</div>
    <div class="menu_container">
      <div>Comic</div>
      <div>Blog</div>
      <div>Characters</div>
      <div>About</div>
    </div>
  </div>

  <div class="banner_container">
      <div class="logo_container">
        <img src="{{base}}/assets/logo.png" />
        <div>
          <img src="{{base}}/assets/circle.png" />
          <img src="{{base}}/assets/circle.png" />
          <img src="{{base}}/assets/circle.png" />
          <img src="{{base}}/assets/circle.png" />
          <img src="{{base}}/assets/circle.png" />
        </div>
      </div>
  </div>
