{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    {% include head.html %}
</head>

<body>

    {% include header.html %}
    <div class="about_container">
      <img class="about_pic" src="{{base}}/assets/annmita.png" />

        <div class="about_text">
            <div class="about_title">
                Hi there!
            </div>
            <div class="about_content">
                Welcome to Sealicon Valley! Here we can dive into this ordinary yet exciting world of Sealicon Valley together, by following the life journey of our FINtastic friends. <br/><br/>
                The original stories and drawings of Sealicon Valley are created by Mita and Ann. We are engineer and designer at Google. The place we live in is a lot like Sealicon Valley,
                where we swim from far away here, to dream big together, help each other, learn from failure, and enjoy the fast WiFi and free tshirts.
                <br/><br/>
                Wanna say hi?
            </div>
            <div class="about_email">
                sealiconvalley@gmail.com
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
