{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    {% include head.html %}
</head>

<body>
    {% include atomo_header.html %}

    <div class="atomo_content">
        <div class="about_wrapper">
            <img src="{{BASE}}/assets/atomo_array.svg" class="playground_construction" />
            <div class="atomo_about_title">
                Hi there!
            </div>
            <div class="atomo_about_text">
                Welcome to the world of Atomos! Atomos are the future of robots. They are not only good at answering questions and lifting
                heavy weights, but also are super smart emotionally.


            </div>

            <img src="{{BASE}}/assets/comic_levels.png" class="playground_construction" style="width: 30%; margin-top: 20px; margin-bottom: 20px;"
            />

            <div class="atomo_about_text">
                TG700 is an Atomo. He is the latest generation Mall Assistant Atomo created by a group of super talented engineers. Like
                his fellow Atomos, TG700 is also equipped with the latest and greatest Personality Engine. But he hasn't
                quite learned how to behave around humans, and makes a lot of funny mistakes..
                <br/>
                <br/> This original webcomic is created by a group of Roboticists and AI Engineers who want to make learning Robotics
                and AI fun and simple for everyone. We hope that with these knowledge, everyone can build their own Atomo!
            </div>

            <div class="atomo_about_title">
                    Join the Atomo Mailing List!
                </div>
            <form action="https://iatomo.us18.list-manage.com/subscribe/post?u=252e96da1fb8b6084b59f6f0c&amp;id=29f6f3cde9" method="post"
                id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <div class="about_social_row">
                    <input class="subscribe_email_input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                        required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_252e96da1fb8b6084b59f6f0c_29f6f3cde9" tabindex="-1" value="">
                    </div>

                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="atomo_embed_subscribe_button">


                </div>
            </form>
        </div>
    </div>
    {% include atomo_footer.html %}
</body>