{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
{% include head.html %}
</head>
<body>

  {% include header.html %}

    <div class="home_content" >

        <div class="masonry" id="blog_masonry">
            <ul class="post-list">
                {% for post in site.posts %}
                {% if post.tags contains 'blog' %}
                <li>
                  <a href="{{base}}{{ post.url }}">
                    <div class="item" id="blog_item">
                      <div class="blog_preview">
                        <img src="{{ post.preview | remove: '
                        <p>' | remove: '</p>' | replace: 'BASE', base }}" />
                      </div>
                      <div class="blog_preview_info">
                        <div class="blog_preview_title">
                          {{ post.title | escape }}
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                {%  endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
