{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    {% include head.html %}
</head>


<body>
    {% include header.html %}
    <div class="characters_container">
    <div class="fish_ll" style="margin-top: 80px;">
        <div class="rounded_image_container">

            <div class="flip-container">
                <div class="flipper" onclick="this.classList.toggle('flipped')">
                    <div class="rounded_image front" id="rounded_octopus">
                    </div>
                    <div class="rounded_image back" id="rounded_octopus_back">
                    </div>
                </div>
            </div>

        </div>
        <div class="fish_text">

            <div class="fish_name_2">
                Octopus
            </div>
            <div class="fish_desc_2">
                Designer at Foogle
            </div>
            <div class="fish_desc_3">
                Foogle &bull; Boat Island School of Design
            </div>
            <div class="fish_desc_3" style="margin-bottom: 45px;">
                Sand Francisco, Sealicon Valley &bull; 500+
            </div>

        </div>
    </div>

    <div class="fish_ll" style="margin-top: 80px;">
        <div class="rounded_image_container">

            <div class="flip-container">
                <div class="flipper" onclick="this.classList.toggle('flipped')">
                    <div class="rounded_image front" id="rounded_dolphin">
                    </div>
                    <div class="rounded_image back" id="rounded_dolphin_back">
                    </div>
                </div>
            </div>
        </div>
        <div class="fish_text">

            <div class="fish_name_2">
                Dolphin
            </div>
            <div class="fish_desc_2">
                Software Engineer at Foogle
            </div>
            <div class="fish_desc_3">
                Foogle &bull; Carnegie Jelly University
            </div>
            <div class="fish_desc_3" style="margin-bottom: 45px;">
                Fountain View, Sealicon Valley &bull; 500+
            </div>

        </div>
    </div>

    <div class="fish_ll" style="margin-top: 80px;">
        <div class="rounded_image_container">

            <div class="flip-container">
                <div class="flipper" onclick="this.classList.toggle('flipped')">
                    <div class="rounded_image front" id="rounded_narwhal">
                    </div>
                    <div class="rounded_image back" id="rounded_narwhal_back">
                    </div>
                </div>
            </div>
        </div>
        <div class="fish_text">

            <div class="fish_name_2">
                Narwhal
            </div>
            <div class="fish_desc_2">
                Cofounder, CEO at Fintechify.ai
            </div>
            <div class="fish_desc_3">
                Fintechify.ai &bull; Carnegie Jelly University
            </div>
            <div class="fish_desc_3" style="margin-bottom: 45px;">
                Sand Francisco, Sealicon Valley &bull; 500+
            </div>

        </div>
    </div>

    <div class="fish_ll" style="margin-top: 80px;">
        <div class="rounded_image_container">

            <div class="flip-container">
                <div class="flipper" onclick="this.classList.toggle('flipped')">
                    <div class="rounded_image front" id="rounded_shark">
                    </div>
                    <div class="rounded_image back" id="rounded_shark_back">
                    </div>
                </div>
            </div>
        </div>
        <div class="fish_text">

            <div class="fish_name_2">
                Shark
            </div>
            <div class="fish_desc_2">
                Cofounder, General Partner at SeCoral Capital
            </div>
            <div class="fish_desc_3">
                SeCoral Capital &bull; Harbour Business School
            </div>
            <div class="fish_desc_3" style="margin-bottom: 45px;">
                Menlo Carp, Sealicon Valley &bull; 5000+
            </div>

        </div>
    </div>

    <div class="fish_ll" style="margin-top: 80px;margin-bottom:50px;">
        <div class="rounded_image_container">

            <div class="flip-container">
                <div class="flipper" onclick="this.classList.toggle('flipped')">
                    <div class="rounded_image front" id="rounded_bubble">
                    </div>
                    <div class="rounded_image back" id="rounded_bubble_back">
                    </div>
                </div>
            </div>
        </div>
        <div class="fish_text">

            <div class="fish_name_2">
                Bubble
            </div>
            <div class="fish_desc_2">
                Student at Sandford University
            </div>
            <div class="fish_desc_3">
                Sandford University
            </div>
            <div class="fish_desc_3" style="margin-bottom: 45px;">
                Palo Orca, Sealicon Valley &bull; 200+
            </div>

        </div>
    </div>
  </div>

    {% include footer.html %}
</body>

</html>
