.header_box {
    position: relative;
    height: 780px;
    width: 100%;
    //background-color: #41B0F7;
    background-image: url("blue_header.png");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.header_box_small {
    position: relative;
    height: 450px;
    width: 100%;
    display: block;
    background-image: url("blue_header.png");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
}


#header_box_small_home {
    display: none;
    background-image: url("banner_mobile.png");
    background-size:cover;;
    height: 260px;
}


.mobile_header_bar {
    width: 100%;
    height: 60px;
    background-color: #41b0f7;
    //position: fixed;
    position:relative;
    z-index: 12000;
      display: flex;
      justify-content: flex-start;
}


.itemcenter {
      flex: 0 1 auto;
      width: 216px;
      height: 100%;
      position: absolute;             /* new */
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;;
      align-items: center;


    }

    .itemcenter .logologo {
      width: 216px;
      height:40px;
    }

.itemright {
      flex: 0 1 auto;
      width: 60px;
      height: 100%;
      margin-left: auto;              /* new */
      display: flex;
      justify-content: center;;
      align-items: center;
    }

    .itemright .burger {
      width: 30px;
      height:30px;
    }

@media only screen and (max-width: 900px) {
    #other_page_header_box_small {
        display:none;
    }
    .header_box {
        display: none;
    }
    #header_box_small_home {
        display: block;
    }
}

.logo {
    width: 450px;
    max-width: 100%;
    height: 83px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 28%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 5000;
}

#social_container {
    display: inline-block;
    top: 42%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 5000;
    text-align: center;
    padding: 0;
}

#social_container a {
    height: 100%;
}

.social_img {
    width: 39px;
    height: 39px;
    display: inline-block;
    object-fit: contain;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
}

.social_img.ig_grey {
    background-image: url("ig_icon_grey.png");
}

.social_img.fb_grey {
    background-image: url("fb_icon_grey.png");
}

.social_img.twitter_grey {
    background-image: url("twitter_icon_grey.png");
}

.social_img.snap_grey {
    background-image: url("snap_icon_grey.png");
}

.social_img.tumblr_grey {
    background-image: url("tumblr_icon_grey.png");
}

.layer1 {
    width: 100%;
    height: 100%;
    background-image: url("layer1.png");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
}

.layer2 {
    width: 100%;
    height: 100%;
    background-image: url("layer2.png");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
}

.layer3 {
    width: 100%;
    height: 100%;
    background-image: url("layer3.png");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
}

.layer4 {
    width: 100%;
    height: 100%;
    background-image: url("layer4.png");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
}

.layer5 {
    width: 100%;
    height: 100%;
    background-image: url("layer5.png");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1000;
}

.drone {
    width: 100px;
    height: 91px;
    background-image: url("drone.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1000;
    top: 250px;
    left: 190px;
}

.smallheader {
    width: 100%;
    height: 200px;
    //  background: pink;
}

.header_bar_container {
    width: 100%;
    height: 86px;
    position: absolute;
    //border-bottom-width: 1px;
    //border-bottom-color: rgba(255, 255, 255, 0.3);
    background-color: #41b0f7;
    position: fixed;
    //border-bottom-style: solid;
    z-index: 12000;
}

.header_bar {
    width: 100%;
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 86px;
    background: transparent;
    position: absolute;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.logo_header_bar {
    float: left;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    vertical-align: middle;
    padding: 0;
    width: 250px;
}

.header_logo {
    width: 100%;
    height: 50px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: table-cell;
    ;
    vertical-align: middle;
    float: left;
}

.social_container_small {
    z-index: 1000000;
    position: absolute;
    top: 50%;
    left: 310px;
    transform: translate(0%, -50%);
    min-width: 400px;
}

.home_logo_header_bar {
    opacity: 0;
}

.home_social_container_small {
    opacity: 0;
}

.social_img_small {
    width: 30px;
    height: 30px;
    display: inline-block;
    object-fit: contain;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
}

.social_ig {
    background-image: url("ig_icon_blue.png");
}

.social_fb {
    background-image: url("fb_icon_blue.png");
}

.social_twitter {
    background-image: url("twitter_icon_blue.png");
}

.social_snap {
    background-image: url("snap_icon_blue.png");
}

.social_tumblr {
    background-image: url("tumblr_icon_blue.png");
}

@media screen and (max-width:841px) {
    .home_logo_header_bar {
        opacity: 1;
    }
    .home_social_container_small {
        opacity: 1;
    }
    .header_logo {
        width: 180px;
        height: 34px;
    }
    .logo_header_bar {
        width: 180px;
    }
    .social_container_small {
        left: 230px;
        width: 140px;
        max-width: 190px;
    }
    .social_img_small {
        margin-left: 2px;
        margin-right: 2px;
    }
    .header_bar {
        height: 60px;
    }
    .header_bar_container {
        height: 60px;
    }
}

.menu_header_bar {
    float: right;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    vertical-align: middle;
    padding: 0;
    margin-right: 20px;
}

.menu_header_text_wrapper {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.menu_header_text {
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
    color: #c5e3ff;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    min-height: 100% !important;
    height: 100%;
}

.menu_header_text_current {
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    min-height: 100% !important;
    height: 100%;
}

.menu_header_text:hover {
    font-weight: 900;
    color: white;
}

.menu_header_text_underline {
    width: 100%;
    height: 15px;
    display: block;
    background-image: url("curve.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.burger {
    background-image: url("burger.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    display: none;
}

@media screen and (max-width:841px) {
    .menu_header_text {
        display: none;
    }
    .menu_header_text_current {
        display: none;
    }
    .burger {
        float: right;
        display: inline-block;
    }
}

.mobile_subscribe .subscribe_email {
    border: 1px solid #41b0f7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

input {
    -webkit-appearance: none;
}

input#mobile_subscribe_button {
    width: 40%;
    height: 39px;
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    border: 1px solid #41b0f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 0;
    float: right;
    background-color: #41b0f7;
    letter-spacing: 1px;
    top: 50%;
    transform: translateY(-50%);
    display: table;
    color: black;
}

#mobile_sub_container {
    display: none;
}

@media screen and (max-width:841px) {
    html, body {
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .about_container {
        margin-bottom: 90px;
    }
    #mobile_sub_container {
        display: block;
    }
    /*
    .logo_header_bar {
        margin-left: 5px;
    }
    .social_container_small {
        left: 208px;
    }
    */
}


/*
.header_bar_container_2 {
    width: 100%;
    height: 86px;
    background-color: #41b0f7;
    position: fixed;
    z-index: 12000;
    display: flex;
    justify-content: space-between;
}

.logo_social_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_social_container .logologo {
  width: 300px;
  height:50px;
  padding-left: 25px;
  padding-right:25px;
}
.logo_social_container .socialsocial {
  width: 30px;
  height:30px;
}

.socialsocial_wrapper {
  width: 35%;
  display: flex;
  justify-content: space-around;;
}

.menu_menu_container {
  background-color: blue;
  width: 25%;
}

#header_box_small_home .logo_social_container {
  width: 100%;
}
#header_box_small_home .menu_menu_container {
  display: none;
}
*/
