* {
  margin: 0;
  padding: 0;
}

body {
  color:white;
  font-family: 'Dosis', sans-serif;
}

.atomo_header {
  background-color: #00B0F5;
  height: 450px;
  position: relative;
  display: flex;
}

.menu_container_wrapper {
  background-color: #00B0F5;
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0px;
}

.menu_container {
  width: 800px;
  height:65px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.atomo_small_logo {
  width: 140px;
  align-self: center;

}

.menu_small_logo_share {
  display:flex;
  align-items: center;
}

.menu_item_container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_item {
  font-weight: bolder;
}

.logo_all_atomo {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  align-self: flex-end;
  margin-bottom: -1px;
}

.logo_holder {
  height: 550px;
  width: 60%;
  min-width: 600px;
}

.ice_tega {
  width: 750px;
  align-self: center;
  margin-top: 245px;
  margin-left: -200px;
}

.atomo_logo {
  width: 250px;
  align-self: center;
  margin-left: -200px;
}

.atomo_base {
  bottom: 0;
  width: 600px;
  position: absolute;
  bottom: -2px;
  left: 15%;
}

.tega_header {
  position: absolute;
  bottom: 20px;
  width: 250px;
  left: 25%;
}

.big_neuron_1 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  transform: rotate(20deg);
}

.big_neuron_2 {
  position: absolute;
  top: 80px;
  right: 500px;
  width: 60px;
  transform: rotate(90deg);
}

.small_neuron_1 {
  position: absolute;
  top: 300px;
  right: 200px;
  width: 30px;
  transform: rotate(120deg);
}

.small_neuron_2 {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 30px;
  transform: rotate(30deg);
}

.small_neuron_3 {
  position: absolute;
  top: 100px;
  left: 400px;
  width: 30px;
  transform: rotate(90deg);
}

/* Content Start */
.atomo_content {
  display: block;
  width:100%;
  margin-bottom:20px;
}

.atomo_item {
  width:700px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left:auto;
  margin-right:auto;
  padding:50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.atomo_item_i_atomo {
  color: #273238;
  font-size: 40pt;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  letter-spacing: 4px;
}

.atomo_episode_title {
  color: #273238;
  font-size: 12pt;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
  text-transform: uppercase;
}

.atomo_comic_item {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.comic_container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.comic_image_item {
  width: 340px;
  margin-top:20px;
}

.read_more {
  height: 100px;
  margin-top:20px;
  display:flex;
  align-items: center;
}

.read_more_poppy_pic {
  width: 80px;
}

.read_more_text {
  margin-left: 10px;
  color: #273238;
  font-size:14pt;
}

.post_share_container {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}

.comic_share_social {
  width: 30px;
  margin-left:6px;
  margin-right:6px;
}

/* Comic Navigation Start */
.comic_nav_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comic_nav_item {
  background-image: url("hexagon.png");
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  vertical-align: center;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comic_nav_item_disabled {

  background-image: url("hexagon.png");
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  vertical-align: center;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #7cccf2;
}

.comic_nav_link {
  color: white;
}
/* Footer Start */
.atomo_footer {
  height: 100px;
  background-color: #00B0F5;
  display:flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.golden_gate {
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  display:block;
  margin-bottom:-40px;
}

/* Blog Start */
.atomo_blog_list {
  margin-top: 20px;
}

.atomo_blog_item {
  width:700px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 10px;
}

.blog_preview_image {
  width: 100%;
  align-self: center;
}

.blog_title {
  height: 50px;
  line-height: 50px;
  vertical-align: center;
  color: #273238;
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Individual Blog Start */
.atomo_blog_container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom:10px;
  display: flex;
  flex-direction: column;
}

.blog_item_title_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.blog_item_title {
  color: #273238;
  font-size: 18pt;
}

.blog_item_date {
  color: #435760;
  font-size: 12pt;
  margin-left: 10px;
}


.blog_item_text img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.blog_item_text p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.blog_item_text {
  color: #273238;
  font-family: 'Dosis', sans-serif;
}

.share_this {
  color: #273238;
  margin-left:auto;
  margin-right:auto;
}

/* Start Playground */
.construction_wrapper {
  display: flex;
  margin-top: 50px;
}

.playground_construction {
  width: 100%;
  max-width: 700px;
  margin-left:auto;
  margin-right:auto;
  align-self: center;
}

/* Start About */

.about_wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  color: #273238;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
}

.atomo_about_title {
  font-size: 24pt;
  margin-top: 20px;
  margin-bottom:20px;
}

.atomo_about_text {
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

.about_social_row {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.atomo_subscribe_button {
  background-image: url(subscribe_blue.svg);
  width: 200px;
  height:100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.atomo_sub_text {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.about_social_row .comic_share_social {
  height:50px;
  width: 45px;
}

/* Start Archives */
.archive_container {
  width: 70%;
  max-width: 700px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.archive_hyperlink {
  color: #273238;
}
.archive_comic_title_item {
  font-size: 20pt;
}
.archive_container li { background: #FFFFFF; 
  height: 60px;
  line-height: 60px;
  vertical-align: center;
  padding-left: 10px;
}

.archive_container li:nth-child(odd) { background: #f3f3f3; }